body{
    background-color: rgba(243, 242, 234, 0.993);
}


 /*section-1-------*/
 .section-1{
    background-color: rgb(128, 95, 6);
  display: flex;
}
 .section-1 > div{
     margin-top: 25px;
     padding: 10px;
     font-size: 16px;
     text-transform: uppercase;
 }
 .section-1 > a{
    margin-top: 25px;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}
/*--------heading-6---*/
 .headign-6{
     margin-top: -10px;
     margin-left: -10px;
     font-size: 20px;
     background-image: linear-gradient(to right, #e0d753, #b67109);
     -webkit-background-clip: text;
     color: transparent;
     text-transform: uppercase;
     font-family: 'Pacifico', cursive;
 }
 @media screen and (max-width:35.625em) {
    .headign-6{
        margin-top: -1px;
        font-size: 70%;
    }    
 }
 @media screen and (max-width:31.25em) {
    .headign-6{
        font-size: 60%;
    }    
 }
 /*------img-shop---*/
 .img-shop{
    margin-top: -14px;
    margin-left: 20px;
 }
/*----nav-bar---*/
.login{   
  color:  rgb(80, 54, 6);
  /*
  font-family: 'Pacifico', cursive;
font-family: 'Saira Condensed', sans-serif; */
 font-family: monospace;
}
.registration{
  color: rgb(80, 54, 6);
  font-family:  monospace;
}
.contact{
    color: rgb(80, 54, 6);
    font-family: monospace;
}
.products{
    color: rgb(80, 54, 6);
    font-family: monospace;
}
/*-----nav-bar_hover--*/
 .products:hover{
    color: rgb(236, 194, 115);
 }
 .login:hover{
     color: rgb(236, 194, 115);
 }
 .registration:hover{
     color: rgb(236, 194, 115);
 }
 .contact:hover{
     color: rgb(236, 194, 115);
 }
 .special-offers:hover{
     color: rgb(236, 194, 115);
 }
/*products-headings---*/
.heading-2{

    background-image: linear-gradient(to right, #e0d753, #b67109);
    -webkit-background-clip: text;
    color: transparent;

    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    text-decoration: underline;
}
.heading-4{

    text-align: left;
    background: goldenrod;
    color: rgb(22, 15, 1);
    
    margin-left: 20px;
    margin-right: 10px; 
    padding: 5px;
    display: block;
    clear: both;
    font-family: 'Arial Narrow',arial;
    font-size: 20px;
    text-transform:uppercase;
    text-decoration: underline black;
}
/*-----GROCERY ITEMS----*/
.grocery-items{

}
.grocery-items > img{
    margin-top: -2rem;
    margin-left: 2rem;
    padding: 3px;
}
 .img-1{
    width: 14vw;
 }

 .img-2{
    width: 12vw;
}

.img-3{
    width: 12vw;
}
.img-4{
    width: 15vw;
}
.img-5{
    width: 15vw;
}
.img-6{
    width: 8vw;
}
.img-7{
    width: 8vw;
}

.img-8{
    width: 13vw;
}
.img-9{
    width: 13vw;
}
.img-10{
    width: 15vw;
}
.img-11{
    width: 15vw;
}
.img-12{
    width: 15vw;
}



/*SNACKS---------------------*/






.snacks{

}
.snacks > img{
  
    margin-left: 2rem;
    padding: 3px;
    
}

.snack-1{
  width: 13vw;
}
 
.snack-2{
    width: 13vw;
}
 
.snack-3{
    width: 13vw; 
}
 
.snack-4{
    width: 13vw; 
}
 
.snack-5{
    width: 13vw;
}
 
.snack-6{
    width: 13vw;
}
 
.snack-7{
    width: 13vw;
}
 
.snack-8{
    width: 14vw;
}
 
.snack-9{
    width: 13vw;
}
 
.snack-10{
    width: 13vw;
}
 
.snack-11{
    width: 13vw; 
}
 
.snack-12{
    width: 13vw;
}



 .cloths{
     
 }
 .cloths > img{
   margin-left: 22px;
   margin-right: 22px; 
}

/* SPORTS----*/
 
.sports{

}
.sports > img{
    margin-left: 22px;
    margin-right: 22px; 
}


.ball-1{
  width: 14vw;
}
.ball-2{
    width: 12vw;
}
.ball-3{
    width: 11vw;
}
.ball-4{
    width: 10vw;  
}
.ball-5{
    width: 15vw; 
}
.ball-6{
    width: 13vw;  
}
.ball-7{
    width: 14vw;
}
.ball-8{
    width: 9vw; 
}
.ball-9{
    width: 10vw;
}
.ball-10{
    width: 15vw;
}
.ball-11{
    width: 11vw;
}
.ball-12{
    width: 15vw; 
}


/*------CLOTHS-----*/


.cloths{

}
.cloths > img{
    margin-top: -1rem;
    margin-left:2.5rem;
    margin-right:2.5rem; 
}
.shirt-1{
 width: 11vw;
}
.shirt-2{
    width: 13vw;  
}

.shirt-3{
    width: 14vw; 
}

.shirt-4{
    width: 14vw;
}

.shirt-5{
    width: 13vw; 
}
.shirt-6{
    width: 14vw; 
}
.shirt-7{
    width: 14vw; 
}
.shirt-8{
    width: 13vw;
}
.shirt-9{
    width: 13vw;
}
.shirt-10{
    width: 13vw;
}
.shirt-11{
    width: 14vw;
}
.shirt-12{
    width: 14vw;
}

/*KIDS CLOTHS----------------------------*/

.kids-cloths{

}
.kids-cloths > img{
    margin-left:1rem;
    margin-right:1rem; 
    width: 13vw;
}

/*ELECTRONICS--------------------------------------*/

.electronics{
 
}
.electronics > img{
    margin-left:1.5rem;
    margin-right:1rem; 
}

.laptop-1{
 width: 13vw;
}
.speaker-1{
    width: 13vw;
}
.mobile-1{
    width: 13vw;
}
.tv-1{
    width: 13vw;
}

/*---------------------*/
.laptop-2{
    width: 14vw;
}
.speaker-2{
    width: 11vw;
}
.mobile-2{
    width: 11vw;
}
.tv-2{
    width: 16vw;
}

/*---------------------*/

.laptop-3{
    width: 13vw;
}
.speaker-3{
    width: 11vw;
}
.mobile-3{
    width: 11vw;
}
.tv-3{
    width: 15vw; 
}


 
 

    /*------footer----*/
    .footer{
        background-color: #a37f48;
        color: rgb(37, 25, 1);
        font-size: 20px;
        display: flex;
        font-family: 'Open Sans Condensed', sans-serif;
     
       }
       @media screen and (max-width:53.125em) {
          .footer{
              font-size: 50%;
          } 
       }
       /*----footer-1--*/
       .footer-1{
         margin-left:8vw;
         margin-right:8vw;
       }
   
     
       .footer-heading-3
       {
           text-transform: uppercase;
       }
       /*-----footer-2-----*/
       .footer-2{
           margin-left:8vw;
         margin-right:8vw;
          }
   
   .footer-heading-4{
    text-transform: uppercase;
   }
    
   
   /*----footer-4---*/
    
        
   .footer-4{
       margin-left:8vw;
       margin-right:8vw;
   }
   .footer-heading-6{
      text-transform: uppercase;
   }
   /*----hover---*/
   .footer-heading-3:hover{
       text-decoration: solid rgb(73, 60, 4) underline;
   }
   .footer-heading-4:hover{
       text-decoration: solid rgb(73, 60, 4) underline;
   }
   .footer-heading-6:hover{
       text-decoration: solid rgb(73, 60, 4) underline;
   }
   /*---------icon----*/
    .footer-icon{
        color: #1b1101;
       
    }
    